@use "./mixins";

:root{
    /* Primary */
    --pale-blue:#e0e8ff;
    --bright-blue: #3829e0;
    

    /* Neutral */

    --very-pale-blue: #f5f7ff;
    --desaturated-blue: #7280a7;
    --dark-blue: #1f2f56;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background: var(--pale-blue); 
    background-image: url(../images/pattern-background-desktop.svg);   
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

