:root{
    --color-heading: #1F2E55;
    --color-paragraph: #717FA6;
    --color-btn: #382AE1;
    --color-bg: #E0E8FF;
    --color-white: #FFFF;

}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background: #E0E8FF;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;    
}


