@use "../sass/mixins";
.main{
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.footer{
    @include mixins.flex;

    @media(max-width:440px){
        display: none;
    }
}